<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
    <% if current_user.email_confirmed == true %>
        <h4> Status: Active </h4>
      <% else %>
        <h4> Status: Awaiting E-mail confirmation </h4>
      <% end %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
</section>

<%= link_to  "Send an Invite", '/invite' %> <br>
<%= button_to "Connect to Github", "/auth/github" %>

<% if current_user.token != nil %>
  <h2> Github </h2>
    <section id='repos'>
      <h3> Repositories </h3>
      <% current_user.gh_repos.each do |repo| %>
      <section class='repo'>
        <%= link_to repo.name, repo.html_url %> <br>
      </section>
      <% end %>
    </section>

  <section id='followers'>
    <h3> Followers </h3>
    <% current_user.gh_followers.each do |follower| %>
      <section id="follower-<%=follower.login%>">
      <%= link_to follower.login, follower.html_url %> <br>
      <% if current_user.friends?(follower.login) == false && !User.is_user?(follower.login).nil? %>
        <%= form_tag friendship_path, method: :create do %>
          <%= hidden_field_tag :username, follower.login %>
          <%= submit_tag 'Add Friend' %>
        <% end %>
      <% end %>
      </section>
    <% end %>
  </section>

  <section id='following'>
    <h3> Following </h3>
    <% current_user.gh_following.each do |member| %>
      <%= link_to member.login, member.html_url %><br>
      <% if current_user.friends?(member.login) == false && !User.is_user?(member.login).nil? %>
        <%= form_tag friendship_path, method: :create do %>
          <%= hidden_field_tag :username, member.login %>
          <%= submit_tag 'Add Friend' %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% end %>

<section id='friends'>
  <h3>Friends</h3>
  <% current_user.friends.each do |friend|  %>
  <p><%= friend.username %></p>
  <% end %>
</section>

<section id='bookmarked_segments'>
  <h1>Bookmarked Segments</h1>
  <% if current_user.get_bookmarks.empty? %>
    <h3>You do not have any bookmarks!</h3>
  <% else %>
    <% current_user.get_bookmarks.each do |_tutorial, video| %>
      <h3><%= video[0].tutorial.title %></h3>
      <% video.each do |video| %>
        <li><%= video.title %>
      <% end %>
    <% end %>
  <% end %>
</section>
